mysqlclient==2.2.7
packaging==25.0
pillow==11.2.1
platformdirs==4.3.7
prettytable==3.16.0
pyparsing==3.2.3
pyTelegramBotAPI==4.26.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
requests-cache==1.2.1
retry-requests==2.0.0
six==1.17.0
telebot==0.0.5
tzdata==2025.2
url-normalize==2.2.0
urllib3==2.3.0
wcwidth==0.2.13
